.content_part{
    display: flex;
    align-items: flex-start;
}

.content_part .left_part_channels {
    flex-basis: 20%;
    /* background: green; */
}

.content_part .right_part_videos {
    flex-basis: 77%;
    background: pink;
}