.content_part .left_part_channels {
    padding: 10px 10px;
    display: flex;
    font-family: var(--font);
    flex-wrap: wrap;
    width: auto;
    max-height: 540px;
    overflow: auto;
}


.content_part .left_part_channels .part {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    width: 100%;
}

.content_part .left_part_channels .part a {
    flex-basis: 100%;
    margin: 10px 0;
    font-size: 19px;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
}

.content_part .left_part_channels .part a:hover{
    background: rgba(249,249,249);
}

.content_part .left_part_channels .part a span {
    display: inline-block;
    
}

.content_part .left_part_channels .part a p {
    display: inline-block;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }