.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font);
}



/* ================= START navbar_left ===================== */

.navbar .navbar_left {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}


.navbar .navbar_left .navbar_left_logo,
.navbar .navbar_left .navbar_left_button {
    flex-basis: 50%;
}

.navbar .navbar_left .navbar_left_button button {
    text-decoration: none;
    background: none;
    font-size: 30px;
    border: none;
    outline-width: 0;
}

.navbar .navbar_left .navbar_left_logo {
    display: flex;
    align-items: flex-start
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image a img {
    max-width: 100%;
    height: auto;
    display: block;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image a p:last-of-type{
    font-weight: bold;
    font-size: 20px;
    margin-left: 3px;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image p:last-of-type sup{
    color: grey;
    font-size: 10px;
}

/* ================= END navbar_left ======================== */



















/* ================= START navbar_middle ===================== */

.navbar .navbar_middle {
    flex-basis: 55%;
    display: flex;
}

.navbar .navbar_middle .navbar_middle_form{
    flex-basis: 90%;
}

.navbar .navbar_middle .navbar_middle_form form {
    display: flex;
}

.navbar .navbar_middle .navbar_middle_form form input {
    width: 80%;
    padding: 20px;
    border: 1px solid grey;
    outline-width: 0;
}

.navbar .navbar_middle .navbar_middle_form form  input::placeholder{
    font-size: 20px;
    font-family: var(--font);
}

.navbar .navbar_middle .navbar_middle_form form  input:focus{
    border-color: rgb(17, 64, 153);
}

.navbar .navbar_middle .navbar_middle_form form  button {
    width: 10%;
    font-size: 24px;
    border: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.navbar .navbar_middle .navbar_middle_audio{
    flex-basis: 10%;
}

.navbar .navbar_middle .navbar_middle_audio button {
    background: rgb(249, 249, 249);
    border: 1px solid rgb(249, 249, 249);
    border-radius: 50px;
    font-size: 24px;
    padding: 10px 10px;
}

/* ================= END navbar_middle ======================== */












/* ================= START navbar_right ===================== */

.navbar .navbar_right {
    flex-basis: 20%;
    display: flex;
    align-items: flex-start;
}


/* ==================== FOR THE DROPDOWN ================= */

.dropbtn {
    background-color: #FFF;
    color: #000;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
   }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


  /* ==================== FOR THE DROPDOWN ================= */


  /* ==================== FOR THE MODAL  ==============*/

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-left: 720px;
    margin-top: -80px;
    left: 0;
    top: 0;
    width: 30%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0);  Fallback color */
    /* background-color: rgba(0,0,0,0.4);  Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .modal-content p{
      display: inline-block;
      margin: 0 5px 0 5px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* ==================== END FOR THE MODAL =============== */

  .modal_notification{
      margin-left: 10px;
  }

  .modal_notification  button{
    background: none;
    margin-top: 15px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
  }


  .modal_notification_profile{
    margin-left: 10px;
}

.modal_notification_profile  button{
  background: none;
  margin-top: 15px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: black;
}

/* ================= END navbar_right ======================== */