.navbar{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font);
}



/* ================= START navbar_left ===================== */

.navbar .navbar_left {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}


.navbar .navbar_left .navbar_left_logo,
.navbar .navbar_left .navbar_left_button {
    flex-basis: 50%;
}

.navbar .navbar_left .navbar_left_button button {
    text-decoration: none;
    background: none;
    font-size: 30px;
    border: none;
    outline-width: 0;
}

.navbar .navbar_left .navbar_left_logo {
    display: flex;
    align-items: flex-start
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image{
    display: flex;
    align-items: center
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image img {
    max-width: 100%;
    height: auto;
    display: block;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image p:last-of-type{
    font-weight: bold;
    font-size: 20px;
    margin-left: 3px;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image p:last-of-type sup{
    color: grey;
    font-size: 10px;
}

/* ================= END navbar_left ======================== */



















/* ================= START navbar_middle ===================== */

.navbar .navbar_right {
    flex-basis: 40%;
}

/* ================= END navbar_middle ======================== */












/* ================= START navbar_right ===================== */

.navbar .navbar_right {
    flex-basis: 20%;
}

/* ================= END navbar_right ======================== */