.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--font);
}



/* ================= START navbar_left ===================== */

.navbar .navbar_left {
  flex-basis: 20%;
  display: flex;
  align-items: center;
}


.navbar .navbar_left .navbar_left_logo,
.navbar .navbar_left .navbar_left_button {
    flex-basis: 50%;
}

.navbar .navbar_left .navbar_left_button button {
    text-decoration: none;
    background: none;
    font-size: 30px;
    border: none;
    outline-width: 0;
}

.navbar .navbar_left .navbar_left_logo {
    display: flex;
    align-items: flex-start
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image a img {
    max-width: 100%;
    height: auto;
    display: block;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image a p:last-of-type{
    font-weight: bold;
    font-size: 20px;
    margin-left: 3px;
}

.navbar .navbar_left .navbar_left_logo .navbar_left_logo_image p:last-of-type sup{
    color: grey;
    font-size: 10px;
}

/* ================= END navbar_left ======================== */



















/* ================= START navbar_middle ===================== */

.navbar .navbar_middle {
    flex-basis: 55%;
    display: flex;
}

.navbar .navbar_middle .navbar_middle_form{
    flex-basis: 90%;
}

.navbar .navbar_middle .navbar_middle_form form {
    display: flex;
}

.navbar .navbar_middle .navbar_middle_form form input {
    width: 80%;
    padding: 20px;
    border: 1px solid grey;
    outline-width: 0;
}

.navbar .navbar_middle .navbar_middle_form form  input::placeholder{
    font-size: 20px;
    font-family: var(--font);
}

.navbar .navbar_middle .navbar_middle_form form  input:focus{
    border-color: rgb(17, 64, 153);
}

.navbar .navbar_middle .navbar_middle_form form  button {
    width: 10%;
    font-size: 24px;
    border: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.navbar .navbar_middle .navbar_middle_audio{
    flex-basis: 10%;
}

.navbar .navbar_middle .navbar_middle_audio button {
    background: rgb(249, 249, 249);
    border: 1px solid rgb(249, 249, 249);
    border-radius: 50px;
    font-size: 24px;
    padding: 10px 10px;
}

/* ================= END navbar_middle ======================== */












/* ================= START navbar_right ===================== */

.navbar .navbar_right {
    flex-basis: 20%;
}

/* ================= END navbar_right ======================== */