.right_part_videos{
    display: flex;
    flex-wrap: wrap;
}

.right_part_videos .topics_recommandations{
    flex-basis: 100%;
    background:white;
    display:flex;
    justify-content: space-between;
    padding:20px 10px;
    overflow-y:scroll;
    /* position:sticky;
    top:0; */
    z-index:45;
}

.topics_recommandations::-webkit-scrollbar{
    display:none;
}

.topics_recommandations a{
    color:black;
    margin:0px 10px;
    font-weight:bold;
    font-size: 10px;
    text-transform: uppercase;
    background: rgba(249, 249, 249);
    cursor:pointer;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid grey;
    border-radius: 45px;
    opacity:0.7;
    font-family: 'Josefin Sans', sans-serif;
}


.topics_recommandations a:hover{
    background: rgb(146, 144, 144);
}