.right_part_videos{
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font);
}


/* ========================= START .topics_recommandations ==================== */
.right_part_videos .topics_recommandations{
    flex-basis: 100%;
    display:flex;
    justify-content: space-between;
    padding:5px;
    z-index:0;
    max-width: 950px;
    height: auto;
    overflow: auto;
}


.right_part_videos .topics_recommandations a{
    color:black;
    margin:0px 10px;
    font-weight:bold;
    font-size: 10px;
    text-transform: uppercase;
    background: rgba(249, 249, 249);
    cursor:pointer;
    font-style: italic;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid rgba(249, 249, 249);
    border-radius: 45px;
    opacity:0.7;
    font-family: 'Josefin Sans', sans-serif;
}


.right_part_videos .topics_recommandations a:hover{
    border-color: grey;
    background: rgb(146, 144, 144);
}



.right_part_videos .topics_recommandations::-webkit-scrollbar{
    /* display:none; */
    width: 10px;
}



.right_part_videos .topics_recommandations::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
.right_part_videos .topics_recommandations::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
.right_part_videos .topics_recommandations::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }


/* ========================= END .topics_recommandations ==================== */











/* ============================ START .videos */

.right_part_videos .videos {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}


.right_part_videos .videos .one_video{
    flex-basis: 25%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.right_part_videos .videos .one_video .image {
    flex-basis: 100%;
}

.right_part_videos .videos .one_video .image img {
    max-width: 16rem;
    height: auto;
    display: block;
}

.right_part_videos .videos .one_video .content {
    flex-basis: 100%;
    display:flex;
    flex-wrap: wrap;
    padding-top: 2px;
}

.right_part_videos .videos .one_video .content .top ,
.right_part_videos .videos .one_video .content .middle,
.right_part_videos .videos .one_video .content .bottom 
{
    flex-basis: 100%;
}


.right_part_videos .videos .one_video .content .top {
    display: flex;
    flex-wrap: wrap;
}

.right_part_videos .videos .one_video .content .top .image_min {
    flex-basis: 20%;
}

.right_part_videos .videos .one_video .content .top .video_title
{
    flex-basis: 80%;
}

.right_part_videos .videos .one_video .content .top .image_min img {
    max-width: 3rem;
    border-radius: 60px;
}

.right_part_videos .videos .one_video .content .top .video_title h1 {
    font-size: 17px;
    text-align: left;
}


.right_part_videos .videos .one_video .content .middle{
    text-align: center;
    padding: 2px;
}

.right_part_videos .videos .one_video .content .middle h1 {
    font-size: 11px;
    color: grey;
}





.right_part_videos .videos .one_video .content .bottom{
    text-align: center;
    padding: 2px;
}

.right_part_videos .videos .one_video .content .bottom p{
    font-size: 11px;
    color: grey;
}

/* ============================= END .videos */